@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.metricCard {
  box-shadow: 4px 5px 5px 0 #f1f0f0, -4px 5px 5px 0 #f1f0f0;
  -webkit-box-shadow: 4px 5px 5px 0 #f1f0f0, -4px 5px 5px 0 #f1f0f0;
  -moz-box-shadow: 4px 5px 5px 0 #f6f6f6, -4px 5px 5px 0 #f1f0f0;
  margin: 15px 10px;
  border: 1px solid #f1f1f1;
  width: 80%;
  height: 150px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: bolder;
    }
    #numDiv {
      display: flex;
      flex-direction: column;
      div {
        font-weight: bold;
        color: #B4B4BB;
      }
    }
  }
}

.hyperlink {
  color: #00A2D6;
  text-decoration: underline;
}

.headingText {
  font-size: 20px;
  color: black !important;
}

.blackDot {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
}

.smallDot {
  height: 5px;
  width: 5px;
  background-color: #ACB3D3;
  border-radius: 50%;
}

.summaryCard {
  box-shadow: 4px 5px 5px 0 #f1f0f0, -4px 5px 5px 0 #f1f0f0;
  -webkit-box-shadow: 4px 5px 5px 0 #f1f0f0, -4px 5px 5px 0 #f1f0f0;
  -moz-box-shadow: 4px 5px 5px 0 #f6f6f6, -4px 5px 5px 0 #f1f0f0;
  border: 1px solid #f1f1f1;
  .card-body {
    div:nth-child(2) {
      color: #101B50;
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  color: black;
  margin-bottom: 20px;
  div:nth-child(1) {
    padding: 12px 10px;
    border-radius: 10px;
    background: #00A2D6;
  }
}

.historyCard {
  box-shadow: 4px 5px 5px 0 #f1f0f0, -4px 5px 5px 0 #f1f0f0;
  -webkit-box-shadow: 4px 5px 5px 0 #f1f0f0, -4px 5px 5px 0 #f1f0f0;
  -moz-box-shadow: 4px 5px 5px 0 #f6f6f6, -4px 5px 5px 0 #f1f0f0;
  border: 1px solid #f1f1f1;
  .content {
    div:nth-child(2) {
      color: #ACB3D3;
      display: flex;
      align-items: center;
    }
  }
}

table {
  border: 1px solid #f1f1f1;
  box-shadow: 4px 5px 5px 0 #f1f0f0, -4px 5px 5px 0 #f1f0f0;
  -webkit-box-shadow: 4px 5px 5px 0 #f1f0f0, -4px 5px 5px 0 #f1f0f0;
  -moz-box-shadow: 4px 5px 5px 0 #f6f6f6, -4px 5px 5px 0 #f1f0f0;
  tr:nth-child(1) {
    background: #F3F6F9;
  }
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
}

.badge {
  padding: 10px;
  border-radius: 30px;
}

.badge-primary {
  background: #f6f3ff;
  color: #9379ff;
}

.badge-warning {
  background: #fff6de;
  color: #f4b608
}

.lightText {
  color: #898794;
}

#navbarNav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: #72809D;
  display: flex;
  cursor: pointer !important;
  align-items: center;
  padding: 10px 15px;
  margin: 0 10px;
  &:hover {
    background: #DEEFFF;
    color: #006FD6;
  }
}

.notifBell {
  color: #898794;
  cursor: pointer;
  &:hover {
    color: #49494a;
  }
}

nav {
  padding: 0 16px !important;
  margin-bottom: 15px;
  box-shadow: 4px 5px 5px 0 #f1f0f0;;
  -webkit-box-shadow: 4px 5px 5px 0 #f1f0f0;;
  -moz-box-shadow: 4px 5px 5px 0 #f1f0f0;
}

.active {
  background: #DEEFFF;
  color: #006FD6;
  border-bottom: 4px solid #006FD6;
  .nav-link {
    color: #006FD6 !important;
  }
}

.searchBoxDiv {
  display: flex;
  align-items: center;
  background: white;
  padding: 5px 8px;
  border: 1px solid #b4b4b4;
  input[type=text] {
    margin-left: 3px;
    background: transparent;
    border: 0;
    outline: 0;
  }
}

.userAvatar {
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.breadcrumb {
  background: white;
  color: #898794;
}
